.mainContainer {
  /* background-color: #61dafb; */
  /* height:100vh; */
  /* width:50%; */
  margin-top:5%;
  margin-left:auto;
  margin-right:auto;
  /* display:flex;
  flex-direction:column; */
  grid-template-rows:auto;
  outline-color:yellow;
  place-items:center;
  place-content:center;
  text-align:center;
  /* max-height:100vh; */
  grid-row-gap:10ch;
  max-width:100vw;
}


.inputContainer{
  margin-left:auto;
  margin-right:auto;
  max-width:50%;
  display:flex;
  flex-direction:column;
  gap:2ch;
  outline-color:blueviolet;
  margin-bottom:3ch;
}


.list {
  
  position: relative;
  /* display:flex;
  flex-direction:column;
  place-items:center;
  place-content:center; */
  display:grid;
  grid-template-rows:auto;
  place-items:center;
  place-content:center;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:auto;
  grid-row-gap:2ch;
  
}

.sortButton{
  position:absolute;
   
}



.toDoLi {
  display: inline;
  color: rgb(12, 170, 243);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.Header {
  font-size: 16px;
  color: rgb(255, 187, 0);
  margin: auto;
  /* position: relative;
  top: -30px;
  left: 145px; */
  display:flex;
  place-items:center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Add {
  color: rgb(245, 241, 9);
  background-color: firebrick;
  border: 4px;
  border-radius: 2px;
}

.ErrorMessage {
  color: red;
  margin-left: 15px;
}

.InputToDo {
  position: relative;
  width: 400px;
  display: inline;
  margin-left: 10px;
}

.DateLi {
  color: rgb(197, 197, 197);
  margin-left: 10px;
  font-size: 11px;
}

.Li {
  list-style-type: none;
  background-color:rgba(0,0,0,0.6);
  border-radius:2ch;
  padding:1.5ch;
}

.spanLiPending {
  /* background-color: rgb(255, 255, 255); */
  text-decoration: none;
}

.spanLiPending:hover {
  background-color: rgb(53, 53, 53);
  border: blue;
  border-radius: 4px;
  border-width: 1px;
  cursor: context-menu;
}

.spanLiCompleted {
  text-decoration: line-through;
  text-decoration-color: rgb(71, 252, 0);
  /* background-color: rgb(255, 255, 255); */
}

.spanLiCompleted:hover {
  background-color: rgb(54, 54, 54);
  border: blue;
  border-radius: 4px;
  border-width: 1px;
  cursor: context-menu;
}

.DatePickerCursor *:hover {
  cursor: pointer;
}

.DatePickerCursor:hover {
  cursor: pointer;
}

.DatePickerCursor {
  display: inline;
}
